:root {
  --colors-primary: #000000;
  --colors-background: #e7e7e7;
  --fontSizes-1: 13px;
  --fontSizes-2: 15px;
  --fontSizes-3: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:'Times New Roman', Times, serif;
  background-color: black;
}

a {
  color: var(--colors-primary);
  text-decoration: none;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
}


main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
  
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image-trail images */

.content__img {
  max-width: 400px;
  height: 450px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (min-width: 50em) {
  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: var(--colors-background);
}

.container#dark {
  background: var(--colors-primary);
}

/* gradient */

.gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30vh;
  background: var(--colors-background);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 0) 0%,
    var(--colors-background) 100%
  );
  pointer-events: none;
  animation: gradientPulse 10s ease-in-out infinite;
}

/* gradient animation breathe in and out!*/

@keyframes gradientPulse{

  0%{
    height: 13vh;
  }
  50%{
    height: 20vh;
  }
  100%{
    height: 13vh;
  }
}

/* nav 
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  z-index: 1000;
}

nav#light a {
  color: var(--colors-background);
}

nav .nav-links {
  display: flex;
  position: static;
}


nav .nav-logo .nav-link,
nav .nav-links .nav-link {
  padding: 1rem;
}


nav .nav-links .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background: black;
  transition: width 0.35s ease-in-out;
}

nav .nav-links .nav-link:hover::after {
  width: 100%;

}

nav .nav-logo {
  font-size: 1.5rem;
}
  */

  /* nav */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  z-index: 1000;
}

nav#light a {
  color: var(--colors-background);
}

nav .nav-link {
  display: inline;
  padding: 1.5rem;

}
nav .nav-link a {
  position: relative;
   display: inline-block;
  text-decoration: none;
}

nav .nav-link a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0%;
  height: 1.5px;
  background: currentColor;
  transition: width 0.35s ease-in-out;
}

nav .nav-link a:hover::after {
  max-width: 150px;
  width: 100%;
}

nav .nav-logo {
  font-size: 1.5rem;
}



/* header */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header #name {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.8em;
  font-size: 1.575rem;
}


/* section.about */
section.about {
  width: 100vw;
  height: 100vh;
  display: grid;
  padding: 20vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 75%;
}

section.about .about-col p {
  color: var(--colors-background);
  margin-bottom: 2rem;
}

#slideshow {
  text-align: center;
  overflow: hidden;
  height: 60vh;
  width: 30vw;
  margin: 0 auto;
}

.slide-wrapper {
  width: 120vw;
  -webkit-animation: slide 28s ease infinite;
}

.slide {
  float: left;
  height: 60vh;
  width: 30vw;
  align-self: center;
}

.slide:nth-child(1) {
  background: url("/images/35.jpg") no-repeat 0% 0%;
  background-size: cover;
}

.slide:nth-child(2) {
  background: url("/images/36.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.slide:nth-child(3) {
  background: url("/images/37.jpg") no-repeat 12% 38%;
  background-size: cover;
}

.slide:nth-child(4) {
  background: url("/images/38.jpg") no-repeat 12% 38%;
  background-size: cover;
}


@-webkit-keyframes slide {
  20% {margin-left: 0vw;}
  40% {margin-left: -30vw;}
  60% {margin-left: -60vw;}
  80% {margin-left: -90vw;}
  90% {margin-left: 0vw;}
}

@media (max-width: 500px) {
  section.about {
    position: fixed;
    place-items: center;
    height: 10vh;
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-flow: row;

    padding: 2em;
    padding-top: 10em;
  }

  section.about .about-col p {
    align-self: center;
    justify-self: left;
    font-size: 1rem;
    margin-bottom: 1rem;
    opacity: 75%;
  }

  #slideshow {
  display: none;
}
}


/* section.stories */
section.stories {
  width: 100%;
  padding-top: 10rem;
}

section.stories .story {
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.stories .story#final-story {
  border-bottom: 1px solid var(--colors-primary);
}

section.stories .story > div {
  padding: 1rem;
}

section.stories .story .story-actualName {
  flex: 2;
  text-transform: uppercase;
}

section.stories .story .story-icon {
  position: relative;
  flex: 1;
}

section.stories .story .story-icon .story-icon-img {
  width: 7vw; 
  height: 100px; 
  background-color: var(--colors-primary);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  transition: all 0.3s ease-in-out; 
}

/* story-icon-img:hover */
section.stories .story .story-icon .story-icon-img:hover {
  transition-delay: 0.3s;
  width: 300px;        
  height: 300px;
  background-size: contain;
  position: sticky;
  margin-top: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  transition: all 0.9s ease;
  z-index: 10;
}


section.stories .story .story-name {
  flex: 10;
  font-family:'Times New Roman', Times, serif;
  font-size: 5rem;
}

section.stories .story .story-date {
  flex: 1;
}

@media (max-width: 500px) {

  section.stories {
  width: 100%;
  padding-top: 5rem;
}

section.stories .story {
  width: 100%;
  padding: -1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  section.stories .story .story-actualName {
    display: none;
  }

section.stories .story .story-icon .story-icon-img, 
section.stories .story .story-icon .story-icon-img:hover { 
    width: 15vw; 
    height: 400px; 
    background-size: cover; 
    position: static; 
    margin-top: 0; 
    top: auto; 
    left: auto; 
    transform: none; 
    z-index: auto; 
    transition: none; 
}

  section.stories .story .story-name {
    font-size: 2rem;
    text-align: center;
  }
}

#project-1 {
  background: url("/images/06.jpg") no-repeat 22% 38%;
  background-size: auto;
}

#project-2 {
  background: url("/images/11.jpg") no-repeat 51.5% 52%;
  background-size: auto;
}

#project-3 {
  background: url("/images/01.jpg") no-repeat 38% 39%;
  background-size: auto;
}

#project-4 {
  background: url("/images/09.jpg") no-repeat 68% 54%;
  background-size: auto;
}

#project-5 {
  background: url("/images/05.jpg") no-repeat 50% 50%;
  background-size: auto;
}

/*textboxes*/

section.textbox
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vh;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500vh;
    background: #000000;
    line-height: 3vh;
}

.textbox-col
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}

.textbox-col h4 
{
    color: rgba(255, 255, 255,0.5);
    opacity: 50%;
    margin-bottom: 2vh;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;


}
.reveal-heading {
  transition: opacity 5s ease;
}

.reveal-heading.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.textbox-col .textbox-col-reveal
{
    color: #ffffff;
    max-width: 60vw;

}

.textbox-col .textbox-col-reveal span
{
    position: relative;
    font-size: 2.6vh;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.7s ease;
    letter-spacing: 0;
    line-height: 2vh;
}

.textbox .textbox-col-reveal span.active
{
  font-size: 2.6vh;
    color: #ffffff;
    opacity: 60%;
    background: transparent;
    line-height: 1vh;
}

.textbox .textbox-col-reveal span::before
{
    content: '';
    position: absolute;
    inset: -1px;
    background: #000000;

}

.textbox .textbox-col-reveal span.active::before
{
    opacity: 0;
}

.textbox-italics {
  font-style: italic;
}

.centerpiece {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  pointer-events: all; 
  animation: fadeOutCenterpiece 10s ease forwards;
}

.centerpiece img {
  width: 50vw;
  max-width: 600px;
}

@keyframes fadeOutCenterpiece{
  0% {opacity: 0;}
  50%{opacity: 0.7;}
  100%{opacity: 0;}
}


@media (max-width: 500px){

section.textbox
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vh;
    font-style: lighter;
    display: flex;
    justify-content: center;
    align-items: top;
    min-height: 200vh;
    background: #000000;
    line-height: 1.5vh;
}

.textbox-col { 
    padding: 0; 
    left: 8em; 
    right: 0; 
    width: 100vw;
}

.textbox-col h4 
{
    display: none;

}
/*reworking the fade animation for mobile*/ 
.reveal-heading, .reveal-heading.is-hidden { 
    transition: none; 
    opacity: 1; 
    pointer-events: auto; } 
    
    .textbox-col .textbox-col-reveal span, .textbox .textbox-col-reveal span.active { 
    transition: none; 
    color: rgba(255, 255, 255,0.6); 
    background: transparent; 
    opacity: 1; 
    font-size: 1.7vh;
    line-height: 2vh; } 
    

/* gradient for mobile*/

.gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
  background: var(--colors-background);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 0) 0%,
    var(--colors-background) 100%
  );
  pointer-events: none;
  animation: gradientPulse 6s ease-in-out infinite;
}

/* gradient animation breathe in and out!*/

@keyframes gradientPulse{

  0%{
    height: 7vh;
  }
  50%{
    height: 10vh;
  }
  100%{
    height: 7vh;
  }
}
/*mobile centerpiece*/
  .centerpiece {
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.5;
  }

  .centerpiece img {
    width: 80vw;
    max-width: none;
  }


}

/* background gif*/
.mobile-gif-background {
  display: none;
}

@media (max-width: 500px) {
  .mobile-gif-background {
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('/images/bg-gif.gif') center/cover no-repeat;
    z-index: 0;
    pointer-events: none;
  }

  .mobile-gif-background::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
    

    
  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

footer#relative {
  padding: 4rem 2rem;
  position: static;
}

footer .footer-col {
  flex: 1;
  text-align: center;
  position: static;
}

footer .footer-col p {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 50%;

}


footer .footer-col p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%;
  height: 1px;
  background: currentColor;
  transition: width 0.35s ease-in-out; 
}

/* hover state */
footer .footer-col p:hover::after {
  width: 100%;
}


footer#light p {
  color: var(--colors-background);
}

/*second instance footer*/

footer .footer-col2 {
  flex: 1;
  margin: 0 auto; 
  text-align: center;
  text-align: center;
  align-self: center;
  position: static;
}

footer .footer-col2 p {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 50%;

}


footer .footer-col2 p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%;
  height: 1px;
  background: currentColor;
  transition: width 0.35s ease-in-out; 
}

/* hover state */
footer .footer-col2 p:hover::after {
  width: 100%;
}



@media (max-width: 500px) {

  /* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  padding-top: 5em;
}

 footer, footer * {
    max-width: 100vw !important;
    overflow-x: hidden !important;
  }


footer .footer-col {
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;


}

footer .footer-col p {
  
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 50%;

}

footer .footer-col p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%;
  height: 1px;
  background: currentColor;
  transition: width 0.35s ease-in-out; 
}

/*second instance footer*/

footer .footer-col2 { 
  margin-top: 6vh;
  grid-column: 1 / -1; 
  justify-self: center; 
  text-align: center; 
}

footer .footer-col2 p {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 50%;

}


footer .footer-col2 p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%;
  height: 1px;
  background: currentColor;
  transition: width 0.35s ease-in-out; 
}

/* hover state */
footer .footer-col2 p:hover::after {
  width: 100%;
}

}

