:root {
  --colors-primary: #000000;
  --colors-background: #e7e7e7;
  --fontSizes-1: 13px;
  --fontSizes-2: 15px;
  --fontSizes-3: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:'Times New Roman', Times, serif;
  background-color: black;
}

a {
  color: var(--colors-primary);
  text-decoration: none;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
}


main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
  
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* image-trail images */

.content__img {
  max-width: 400px;
  height: 450px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (min-width: 50em) {
  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: var(--colors-background);
}

.container#dark {
  background: var(--colors-primary);
}

/* gradient */

.gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30vh;
  background: var(--colors-background);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 0) 0%,
    var(--colors-background) 100%
  );
  pointer-events: none;
  animation: gradientPulse 6s ease-in-out infinite;
}

/* gradient animation breathe in and out!*/

@keyframes gradientPulse{

  0%{
    height: 20vh;
  }
  50%{
    height: 40vh;
  }
  100%{
    height: 20vh;
  }
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  z-index: 1000000;
}

nav#light a {
  color: var(--colors-background);
}

nav .nav-links {
  display: flex;
  position: static;
}

nav .nav-logo .nav-link,
nav .nav-links .nav-link {
  padding: 1rem;
}

nav .nav-logo {
  font-size: 1.5rem;
}

/* header */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header #name {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.8em;
  font-size: 1.575rem;
}


/* section.about */
section.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 2rem;
  padding-left: 15%;
  padding-right: 15%;
}

section.about .about-col p {
  color: var(--colors-background);
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  section.about {
    gap: 0;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }

  section.about .about-col p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* section.stories */
section.stories {
  width: 100%;
  padding-top: 10rem;
}

section.stories .story {
  width: 100%;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.stories .story#final-story {
  border-bottom: 1px solid var(--colors-primary);
}

section.stories .story > div {
  padding: 1rem;
}

section.stories .story .story-actualName {
  flex: 2;
  text-transform: uppercase;
}

section.stories .story .story-icon {
  position: relative;
  flex: 1;
}

section.stories .story .story-icon .story-icon-img {
  width: 7vw; 
  height: 100px; 
  background-color: var(--colors-primary);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  transition: all 0.3s ease; 
}

/* story-icon-img:hover */
section.stories .story .story-icon .story-icon-img:hover {
  transition-delay: 0.2s;
  width: 300px;        
  height: 300px;
  background-size: contain;
  position: sticky;
  margin-top: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  transition: all 0.9s ease;
  z-index: 10;
}


section.stories .story .story-name {
  flex: 10;
  font-family:'Times New Roman', Times, serif;
  font-size: 5rem;
}

section.stories .story .story-date {
  flex: 1;
}

@media (max-width: 500px) {

  section.stories {
  width: 100%;
  padding-top: 5rem;
}

section.stories .story {
  width: 100%;
  padding: -1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  section.stories .story .story-actualName {
    display: none;
  }

section.stories .story .story-icon .story-icon-img, 
section.stories .story .story-icon .story-icon-img:hover { 
    width: 19vw; 
    height: 300px; 
    background-size: cover; 
    position: static; 
    margin-top: 0; 
    top: auto; 
    left: auto; 
    transform: none; 
    z-index: auto; 
    transition: none; 
}

  section.stories .story .story-name {
    font-size: 2rem;
    text-align: center;
  }
}

#project-1 {
  background: url("/images/06.jpg") no-repeat 22% 38%;
  background-size: auto;
}

#project-2 {
  background: url("/images/11.jpg") no-repeat 51.5% 52%;
  background-size: auto;
}

#project-3 {
  background: url("/images/01.jpg") no-repeat 38% 39%;
  background-size: auto;
}

#project-4 {
  background: url("/images/09.jpg") no-repeat 68% 54%;
  background-size: auto;
}

#project-5 {
  background: url("/images/05.jpg") no-repeat 50% 50%;
  background-size: auto;
}

/*textboxes*/

section.textbox
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vh;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500vh;
    background: #000000;
    line-height: 3vh;
}

.textbox-col
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}

.textbox-col h4 
{
    color: rgba(255, 255, 255,0.5);
    opacity: 50%;
    margin-bottom: 2vh;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;




}
.reveal-heading {
  transition: opacity 5s ease;
}

.reveal-heading.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.textbox-col .textbox-col-reveal
{
    color: #ffffff;
    max-width: 850px;

}

.textbox-col .textbox-col-reveal span
{
    position: relative;
    font-size: 2.6vh;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.7s ease;
    letter-spacing: 0;
    line-height: 2vh;
}

.textbox .textbox-col-reveal span.active
{
  font-size: 2.6vh;
    color: #ffffff;
    opacity: 50%;
    background: transparent;
    line-height: 1vh;
}

.textbox .textbox-col-reveal span::before
{
    content: '';
    position: absolute;
    inset: 1px;
    background: #000000;

}

.textbox .textbox-col-reveal span.active::before
{
    opacity: 0;
}

@media (max-width: 500px){

  

section.textbox
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    font-style: lighter;
    display: flex;
    justify-content: left;
    align-items: top;
    min-height: 500vw;
    background: #000000;
    line-height: 1.2vw;
}


.textbox-col h4 
{
    color: rgba(255, 255, 255,0.5);
    padding-bottom: 4vw;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;




}
.reveal-heading {
  transition: opacity 0.5s ease;
}

.reveal-heading.is-hidden {
  opacity: 0;
  pointer-events: none;
}



.textbox-col .textbox-col-reveal span
{
    position: relative;
    font-size: 3vw;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.25s;
    letter-spacing: 0;
    line-height: 1em;
}

.textbox .textbox-col-reveal span.active
{
    font-size: 3.5vw;
    line-height: 4.2vw;
    color: #ffffff;
    opacity: 50%;
    background: transparent;
}

.textbox .textbox-col-reveal span::before
{
    content: '';
    position: absolute;
    inset: 1px;
    background: #000000;

}

.textbox .textbox-col-reveal span.active::before
{
    opacity: 0;
}

/* gradient */

.gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20vh;
  background: var(--colors-background);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 0) 0%,
    var(--colors-background) 100%
  );
  pointer-events: none;
  animation: gradientPulse 6s ease-in-out infinite;
}

/* gradient animation breathe in and out!*/

@keyframes gradientPulse{

  0%{
    height: 10vh;
  }
  50%{
    height: 30vh;
  }
  100%{
    height: 10vh;
  }
}

}

/* background gif*/
.mobile-gif-background {
  display: none;
}

@media (max-width: 500px) {
  .mobile-gif-background {
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('./images/bg-gif.gif') center/cover no-repeat;
    z-index: 0;
    pointer-events: none;
  }

  .mobile-gif-background::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
    

  }
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

footer#relative {
  padding: 4rem 2rem;
  position: static;
}

footer .footer-col {
  flex: 1;
  text-align: center;
  position: static;
}

footer .footer-col p {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  opacity: 50%;

}

footer .footer-col p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0%;
  height: 1px;
  background: currentColor;
  transition: width 0.35s ease-in-out; 
}

/* hover state */
footer .footer-col p:hover::after {
  width: 100%;
}


footer#light p {
  color: var(--colors-background);
}



.fpContent {
	display: flex;
	flex-wrap: wrap;
	margin-left: 24vw;
	margin-right: 20vw;
	font-family: 'Times New Roman', Times, serif;
  color: white;
}

.fpContent--full {
	min-height: 4vh;
	display: flex;
	place-items: center;
}

.fpContent p {
	justify-self: center;
	margin-top: 2vh;
	margin-bottom: 2vh;
	font-weight: 100;
  font-size: 1em;
	opacity: 0.5;
	line-height: 3vh;
}


.fpDeco {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100vw;
	height: 100%;
	position: absolute;
	overflow: visible;
	top: 20vh;
	left: 0;
	z-index: 1000000;
	pointer-events: none;
}

.fpDeco__item {
	grid-column: 3 / span 1;
	background-size: contain;
	overflow: visible;
	background-repeat: no-repeat;
	height: auto;
	aspect-ratio: 1/3;
	max-width: 30vw;
	opacity: 0.4;
}

.fpDeco__item:nth-child(2n) {
	max-width: 33vw;
	grid-column: 1 / span 3;
}

.fpDeco__item:nth-child(3n) {
	max-width: 20vw;
	grid-column: 2 / span 2;
}

@media screen and (max-width: 500px) {

	.fpDeco {
	display: grid;
	grid-template-columns:1fr 1fr 1fr;	
	row-gap: 20px;
	column-gap: 20px;
	justify-content: space-evenly;
	overflow: visible;
	z-index: 6;
	pointer-events: none;
	}
	.fpDeco__item {
		grid-column: 2 / span 1;
		max-width: 30vw;
		overflow: visible;
	}
	.fpDeco__item:nth-child(3n) {
		max-width: 50vw;
		grid-column: 3 / span 5;
		overflow: visible;
	}

	.fpDeco__item:nth-child(3n) {
		max-width: 7vw;
		grid-column: 4 / span 2;
	}

	.fpDeco__item:nth-child(4n) {
		grid-column: 3 / span 3;
	}

	.fpDeco__item:nth-child(5n) {
		max-width: 10vw;
		grid-column: 2 / span 4;
	}
}

