:root {
  --colors-primary: #000000;
  --colors-background: #e7e7e7;
  --fontSizes-1: 13px;
  --fontSizes-2: 15px;
  --fontSizes-3: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family:'Times New Roman', Times, serif;
  background-color: black;
}

a {
  color: var(--colors-primary);
  text-decoration: none;
}

p {
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
}

/* svg */

.background-svg{
  filter: blur(0.1rem);
  mix-blend-mode: screen;
  width: 200%;
  align-items: center;
  position: fixed; 
  top: -10vh; 
  left: -30vw; 
  z-index: 999999; 
  pointer-events: none
}

@media (max-width: 500px) {
  .background-svg{
  width: 200%;
  align-items: center;
  position: fixed; 
  top: -6vh; 
  left: -117vw; 
  z-index: 999999; 
  pointer-events: none
}
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__img {
  max-width: 400px;
  height: 450px;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (min-width: 50em) {
  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  width: 100vw;
  min-height: 100vh;
  background: var(--colors-background);
}

.container#dark {
  background: var(--colors-primary);
}

/* gradient */

.gradient {
  position: fixed;
  top: 0;
  width: 100%;
  height: 400px;
  background: var(--colors-background);
  background: linear-gradient(
    0deg,
    rgba(40, 40, 40, 0) 0%,
    var(--colors-background) 100%
  );
  pointer-events: none;
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  z-index: 1000000 !important;
}

nav#light a {
  color: var(--colors-background);
}

nav .nav-links {
  display: flex;
}

nav .nav-logo .nav-link,
nav .nav-links .nav-link {
  padding: 1rem;
}

nav .nav-logo {
  font-size: 1.5rem;
}

/* header */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header #name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.575rem;
}


/* about */
section.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 15%;
  padding-right: 15%;
}

section.about .about-col p {
  color: var(--colors-background);
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  section.about {
    gap: 0;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }

  section.about .about-col p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* studies */
section.studies {
  width: 100%;
  padding-top: 10rem;
}

section.studies .study {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--colors-primary);
}

section.studies .study#final-study {
  border-bottom: 1px solid var(--colors-primary);
}

section.studies .study > div {
  padding: 1rem;
}

section.studies .study .study-category {
  flex: 2;
  text-transform: uppercase;
}

section.studies .study .study-icon {
  position: relative;
  flex: 1;
}

section.studies .study .study-icon .study-icon-img {
  width: 7vw; 
  height: 100px; 
  background-color: var(--colors-primary);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  transition: all 0.3s ease; 
}

/* study-icon-img:hover */
section.studies .study .study-icon .study-icon-img:hover {
  width: 300px;        
  height: 300px;
  background-size: contain;
  position: sticky;
  margin-top: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  z-index: 10;
}


section.studies .study .study-name {
  flex: 10;
  font-family:'Times New Roman', Times, serif;
  font-size: 5rem;
}

section.studies .study .study-date {
  flex: 1;
}

@media (max-width: 900px) {
  section.studies .study .study-category {
    font-size: 0.75rem;
  }

  section.studies .study .study-date {
    display: none;
  }

  section.studies .study .study-icon .study-icon-img {
  display: none;
  }

  section.studies .study .study-name {
    font-size: 2rem;
  }
}

#project-1 {
  background: url("./images/06.jpg") no-repeat 22% 38%;
  background-size: auto;
}

#project-2 {
  background: url("./images/11.jpg") no-repeat 51.5% 52%;
  background-size: auto;
}

#project-3 {
  background: url("./images/01.jpg") no-repeat 38% 39%;
  background-size: auto;
}

#project-4 {
  background: url("./images/09.jpg") no-repeat 68% 54%;
  background-size: auto;
}

#project-5 {
  background: url("./images/05.jpg") no-repeat 50% 50%;
  background-size: auto;
}

/*textboxes*/

section.textbox
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8vh;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500vh;
    background: #000000;
    line-height: 3vh;
}

.textbox-col
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}

.textbox-col h4 
{
    color: rgb(255, 255, 255);
    padding-bottom: 4vh;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;




}
.reveal-heading {
  transition: opacity 0.6s ease;
}

.reveal-heading.is-hidden {
  opacity: 0;
  pointer-events: none;
}


.textbox-col .textbox-col-reveal
{
    color: #ffffff;
    max-width: 850px;

}

.textbox-col .textbox-col-reveal span
{
    position: relative;
    font-size: 2vh;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.25s;
    letter-spacing: 0;
    line-height: 1vh;
}

.textbox .textbox-col-reveal span.active
{
  font-size: 2vh;
    color: #ffffff;
    background: transparent;
    line-height: 1vh;
}

.textbox .textbox-col-reveal span::before
{
    content: '';
    position: absolute;
    inset: 1px;
    background: #000000;

}

.textbox .textbox-col-reveal span.active::before
{
    opacity: 0;
}

@media (max-width: 500px){

section.textbox
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    font-style: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500vw;
    background: #000000;
    line-height: 1vw;
}


.textbox-col h4 
{
    color: rgb(255, 255, 255);
    padding-bottom: 4vw;
    text-transform: uppercase;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: lighter;




}
.reveal-heading {
  transition: opacity 0.5s ease;
}

.reveal-heading.is-hidden {
  opacity: 0;
  pointer-events: none;
}



.textbox-col .textbox-col-reveal span
{
    position: relative;
    font-size: 0vw;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.25s;
    letter-spacing: 0;
    line-height: 1em;
}

.textbox .textbox-col-reveal span.active
{
    font-size: 3.5vw;
    line-height: 4vw;
    color: #ffffff;
    background: transparent;
}

.textbox .textbox-col-reveal span::before
{
    content: '';
    position: absolute;
    inset: 1px;
    background: #000000;

}

.textbox .textbox-col-reveal span.active::before
{
    opacity: 0;
}
}


