
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: 0.9em;
    font-style: normal;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600vh;
    background: #000000;
}

.box
{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
}

.box h2 
{
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: 600;

}

.box .text
{
    color: #fff;
    max-width: 750px;

}

.box .text span
{
    position: relative;
    font-size: 1.25em;
    color: transparent;
    background: rgb(0, 0, 0);
    transition: 0.25s;
    letter-spacing: 0.1em;
}

.box .text span.active
{
    color: #fff;
    background: transparent;
}

.box .text span::before
{
    content: '';
    position: absolute;
    inset: 1px;
    background: #000000;

}

.box .text span.active::before
{
    opacity: 0;
}

